<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Mocha Video</title>
	<link rel="stylesheet" href="style.css" />
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://kit.fontawesome.com/c939d0e917.js"></script>
	<script src="peerjs.min.js"></script>
	<script>
		const ROOM_ID = "<%= roomId %>";
	</script>
</head>
<body>
	<div class="header">
		<div class="logo">
			<div class="header_back">
				<i class="fas fa-angle-left"></i>
			</div>
			<img src="icon.png" alt="">
			<h1>Mocha Video</h1>
			</div>
		</div>  
		<div class="main">  
			<div class="main_left">
				<div class="videos_group">
					<div id="video-grid"></div>
				</div>
				<div class="options">
					<div class="options_left">
						<div id="stopVideo" class="options_button">
							<i class="fa fa-video-camera"></i>
						</div>
						<div id="muteButton" class="options_button">
							<i class="fa fa-microphone"></i>
						</div>
						<div id="showChat" class="active options_button">
							<i class="fa fa-comment"></i>
						</div>
						<div id="showAgenda" class="options_button">
							<i class="fa fa-calendar-day"></i>
						</div>
					</div>
					<div class="options_right">
						<div id="inviteButton" class="options_button">
							<i class="fa fa-link"></i>
						</div>
						<div id="endCall" class="options_button">
							<i class="fa fa-phone-slash"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="main_right">
				<div class="chat_container">
					<h3>Chat</h3>
					<div class="main_chat_window">
						<div class="messages"></div>
					</div>
					<div class="main_message_container">
						<input id="chat_message" type="text" autocomplete="off" placeholder="Type message here...">
						<div id="send" class="options_button" style="margin-right: 0 !important;">
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<div class="hidden agenda_container">
					<h3>Agenda</h3>
					<div class="main_agenda_window">
						<div class="messages"></div>
					</div>
					<div class="main_agenda_container">
						<input id="agenda_message" type="text" autocomplete="off" placeholder="Add item to agenda...">
						<div id="send" class="options_button" style="margin-right: 0 !important;">
							<i class="fa fa-calendar-plus" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="script.js"></script>
	</html>
