@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
	--main-darklg: #ab8f7e;
	--main-dark: #dbcdc1;
	--primary-color: #896446;
	--secondary-color: #4c2010;
	--side-panel-color: #f2f2f2;
	--main-light: #f2f2f2;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--main-dark);
}

.header {
	display: flex;
	flex-direction: row;
	height: 8vh;
	width: 100%;
	background-color: var(--main-darklg);
}

.logo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
}

.logo > h1 {
	color: var(--main-light);
}

.logo > img {
	height: 70px;
	margin-bottom: 5px;
}

.main {
	overflow: hidden;
	height: 92vh;
	display: flex;
}

.main_left {
	flex: 0.7;
	display: flex;
	flex-direction: column;
}

.videos_group {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--main-dark);
}

video {
	height: 300px;
	border-radius: 5px;
	margin: 0.5rem;
	width: 400px;
	object-fit: cover;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

#video-grid > div {
	position: relative;
}

#video-grid > div > span {
	position: absolute;
	bottom: 15px;
	right: 8px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	color: white;
	background-color: black;
	z-index: 10;
}

.options {
	padding: 1rem;
	display: flex;
	background-color: var(--main-dark);
}

.agenda_options {
	display: flex;
}

.options_left {
	display: flex;
}

.options_right {
	display: flex;
	margin-left: auto;
}

.agenda_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	font-size: 0.8rem;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--main-light);
}

.options_button, .options_item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border-radius: 5px;
	font-size: 1.2rem;
	margin: 0 0.5rem;
}

.options_item {
	width: 85px;
}

.options_button {
	cursor: pointer;
	width: 50px;
	background-color: var(--primary-color);
	color: var(--main-light);
}

.active {
	background-color: var(--secondary-color);
}

.main_right {
	display: flex;
	flex-direction: column;
	flex: 0.3;
	max-width: 30%;
	background-color: var(--side-panel-color);
}

.chat_container, .agenda_container {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
}

.chat_container > h3, .agenda_container > h3 {
	margin: 10px;
	align-self: center;
}

.main_chat_window, .main_agenda_window {
	flex-grow: 1;
	overflow-y: scroll;
}

.main_chat_window::-webkit-scrollbar, .main_agenda_window::-webkit-scrollbar {
	display: none;
}

.main_message_container, .main_agenda_container {
	padding: 1rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.main_message_container > input, .main_agenda_container > textarea {
	height: 40px;
	flex: 1;
	font-size: 1rem;
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--side-panel-color);
	outline: none;
	border: none;
	border-bottom: solid 2px var(--primary-color);
}

.messages, .aItems {
	display: flex;
	flex-direction: column;
	margin: 1.5rem;
}

.message, .agenda {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-self: flex-start;
	align-items: flex-start;
}

.agenda {
	width: 100%;
}

.message {
	max-width: 90%;
}

.message_me {
	align-self: flex-end !important;
	align-items: flex-end !important;
}

.message > b, .agenda > b {
	color: var(--primary-color);
	display: flex;
	align-items: center;
	text-transform: capitalize;
}


.message > span, .agenda > span {
	background-color: var(--main-dark);
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 1rem;
	border-radius: 5px;
}

.agenda > span {
	width: 90%;
}

.agenda > span > span > ul {
	margin-left: 2rem;
}

#video-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hidden {
	display: none;
}

.header_back {
	display: none;
	position: absolute;
	font-size: 1.3rem;
	top: 17px;
	left: 28px;
	color: var(--main-dark);
}

@media (max-width: 700px) {
	.main_right {
		display: none;
	}
	.main_left {
		width: 100%;
		flex: 1;
	}

	video {
		height: auto;
		width: 100%;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,0.4);
	z-index: 20;
}

.modal-content {
	background-color: #fefefe;
	border-radius: 5px;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -8px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#editModalContent {
	padding: 1%;
	min-width: 98%;
	max-width: 98%;
	min-height: 300px;
	margin-bottom: 10px;
}